*.iml
.gradle
/local.properties
/.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties

/.agents/
/app/google-services.json

# NÃO ignorar o debug.keystore compartilhado
!/app/keystore/debug.keystore
